@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

#root {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: darkgray;
}
a {
  text-decoration: none;
  font-size: 23px;
  font-weight: 400;
  color: #525a5a;
  transition: 300ms;
}
a:hover {
  color: #c9bd60;
  font-size: 38px;
  font-weight: 600;
}
.main {
  height: 100vh;
  background-color: rgb(102, 107, 107);
}
.grid {
  height: auto;
  background-color: rgb(82, 90, 90);
  padding: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #edd736;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.button-container {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 15px;
}
.button-container button {
  background-color: #ffe625;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
}
